
body{
    background-color:#EEFEE8;
    font-family: 'Nunito', sans-serif;
}
.card{
    margin: 80px 10% 140px 10%;
    .card-header{
        background-color: #88DFB5;
        color:#EEFEE8;
    }
    .card-body{
        background-color:rgb(203, 247, 220);
        .card-text{
            
            color:#05386B;
        }
        .card-title{
            color:#379683;
        }
        .btn{
            margin-right:10%;
        }
    }
  
}


header{
    background-color: #88DFB5;
    margin-top:0px;
    
    h1{
        padding-top:120px;
        height:150px;
        margin-left:10px;
        margin-bottom: 30px;
        color: rgb(20, 69, 117);
        font-family: 'Poppins', sans-serif;
    }
}

footer{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.answers{
    margin-left:1vw;
    width:100%;
    padding-top:40px;
    color:rgb(20, 69, 117);
    #a1{
        padding-left:1vw;
    }
    #a2{
        padding-right:1vw;
        text-align: right;
    }
}

#slidecontainer {
    width: 100%;
    .slider {
        margin-top:20px;
        -webkit-appearance: none;
        width: 80%;
        height: 15px;
        background: #A3CD99;
        border:1px solid #A3CD99;
        border-radius: 8px;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        margin-left:10%;
        &:hover{
            opacity: 1;
            background:#A0CA96;
        }
}
}


.slider_value{
    margin-left:10%;
    color:#379683;
    width:100%;
}



.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 8px;
    background: #a19f9f;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 8px;
    background: #d0d0d0;
    cursor: pointer;
}

.progress{
    margin-top:20px;
    margin-left:10%;
}



.pagination{
    margin-top:20px;
    margin-left:1vw;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;  
    flex-wrap: wrap;
}

.it{
    margin-left:1vw;
    color:rgb(20, 69, 117);
}



