body {
  background-color: #EEFEE8;
}
.card {
  margin: 80px 10% 140px 10%;
}
.card .card-header {
  background-color: #88DFB5;
  color: #EEFEE8;
}
.card .card-body {
  background-color: #cbf7dc;
}
.card .card-body .card-text {
  color: #05386B;
}
.card .card-body .card-title {
  color: #379683;
}
.card .card-body .btn {
  margin-right: 10%;
}
header {
  background-color: #88DFB5;
  margin-top: 0px;
}
header h1 {
  padding-top: 120px;
  height: 150px;
  margin-left: 10px;
  margin-bottom: 30px;
  color: #144575;
}
footer {
  text-align: center;
}
.answers {
  width: 100%;
  padding-top: 40px;
  color: #144575;
}
.answers #a1 {
  padding-left: 1vw;
}
.answers #a2 {
  padding-right: 1vw;
  text-align: right;
}
#slidecontainer {
  width: 100%;
}
#slidecontainer .slider {
  margin-top: 20px;
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  background: #A3CD99;
  border: 1px solid #A3CD99;
  border-radius: 8px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-left: 10%;
}
#slidecontainer .slider:hover {
  opacity: 1;
  background: #A0CA96;
}
.slider_value {
  margin-left: 10%;
  color: #379683;
  width: 100%;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #a19f9f;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #d0d0d0;
  cursor: pointer;
}
.progress {
  margin-top: 20px;
  margin-left: 10%;
}
.page {
  margin-left: 45px;
  margin-top: 40px;
}
